@import '../../../scss/index.scss';

.menuTop {
    // display: flex;

    button {
        color: $fontLight;

        &:hover {
            color: $primaryColorHover;
        }

        &:focus,
        &:active {
            color: $fontLight;
        }
    }

    &__left {
        &-logo {
            padding: 0 40px;
        }
        &-head {
            padding: 10 40px;
        }
    }

    &__right {
        position: absolute;
        right: 0;
    }
}