//Default
$defaultFontSize: 16px;


//Colores
$primaryColorHover: #0280b3;
$menuColor: #252527;

//Color de fuente
$fontLight: #fff;
$fontGreyLight: #e8e8e8;
$fontGrey: #808080;
$fontGreyDark: #000;
$fontDarkLight: #252527;
$fontDark: #000;

//Color de bordes
$borderLight: #fff;
$borderGreyLight: #e8e8e8;
$borderGrey: #808080;
$borderGreyDark: #595959;
$borderDarkLight: #252527;
$borderDark: #000;

//Color de background
$backgroundLight: #fff;
$backgroundGreyLight: #e8e8e8;
$backgroundGrey: #808080;
$backgroundGreyDark: #595959;
$backgroundDarkLight: #252527;
$backgroundDark: #000;
$backgroundSuccess: #84b84c1f;
$backgroundError: #ff00001f;


//Estados
$success: #84b84c;
$error: #f00;
$warning: orange;

//Responsive down size
$mediaBreackpointDownXs: 413.98px;
$mediaBreackpointDownSm: 573.98px;
$mediaBreackpointDownMd: 767.98px;
$mediaBreackpointDownLg: 991.98px;
$mediaBreackpointDownXl: 1199.98px;

//Responsive up size
$mediaBreackpointUpXs: 320px;
$mediaBreackpointUpSm: 576px;
$mediaBreackpointUpMd: 768px;
$mediaBreackpointUpLg: 992px;
$mediaBreackpointUpXl: 1200px;
